<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<p>
  <strong>Comments</strong>
</p>

<table>
  <thead>
    <tr>
      <th>text</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "comments/comment", collection: @article.comments %>
  </tbody>
</table>

<p>
  <strong>New Comment</strong>
</p>

<%= render 'comments/form', article: @article, comment: @comment %>

<br>

